<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Groupe 3 (AVLAH Folly Epiphane | Martial GADJEU)"
    />
    <meta
      name="description"
      content="Study est une PWA conçue pour faciliter la communication et le partage d'informations entre les étudiants en formation à distance."
    />
    <title>Study</title>

    <!-- Import Ant Design Vue Reset CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ant-design-vue@4.2.1/dist/reset.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <a-modal
        v-model:open="userNotExist"
        title="Study"
        width="100%"
        wrap-class-name="full-screen-modal"
        :footer="null"
        @ok="hideChannel"
      >
        <a-form :layout="'vertical'" :model="userForm" @finish="onSaveUser">
          <minidenticon-svg :username="userForm.pseudo"></minidenticon-svg>
          <a-form-item
            label="Entrer votre Pseudo"
            name="pseudo"
            :rules="[{ required: true, message: 'Please input your pseudo!' }]"
          >
            <a-input v-model:value="userForm.pseudo"> </a-input>
          </a-form-item>

          <a-form-item>
            <a-button
              :disabled="userFormDisabled"
              type="primary"
              html-type="submit"
            >
              Continue
            </a-button>
          </a-form-item>
        </a-form>
      </a-modal>
      <a-list item-layout="horizontal">
        <a-list-item v-for="item in channels" :key="item.id" @click="showChannel">
          <a-list-item-meta :description="item.description">
            <template #title>
              <a href="#">{{ item.label }}</a>
            </template>
            <template #avatar>
              <a-avatar src="https://joeschmoe.io/api/v1/random" />
            </template>
          </a-list-item-meta>
        </a-list-item>
      </a-list>
      <a-modal
        v-model:open="show"
        title="Channel"
        width="100%"
        wrap-class-name="full-screen-modal"
        :footer="null"
        @ok="hideChannel"
      >
        <a-comment>
          <template #actions>
            <span key="comment-basic-like">
              <a-tooltip title="Like">
                <template v-if="action === 'liked'">
                  <LikeFilled @click="like" />
                </template>
                <template v-else>
                  <LikeOutlined @click="like" />
                </template>
              </a-tooltip>
              <span style="padding-left: 8px; cursor: auto"> {{ likes }} </span>
            </span>
            <span key="comment-basic-dislike">
              <a-tooltip title="Dislike">
                <template v-if="action === 'disliked'">
                  <DislikeFilled @click="dislike" />
                </template>
                <template v-else>
                  <DislikeOutlined @click="dislike" />
                </template>
              </a-tooltip>
              <span style="padding-left: 8px; cursor: auto">
                {{ dislikes }}
              </span>
            </span>
            <span key="comment-basic-reply-to">Reply to</span>
          </template>
          <template #author><a>Han Solo</a></template>
          <template #avatar>
            <a-avatar src="https://joeschmoe.io/api/v1/random" alt="Han Solo" />
          </template>
          <template #content>
            <p>
              Nous fournissons une série de principes de conception, de modèles
              pratiques et des ressources de conception de haute qualité (Sketch
              et Axure), pour aider les gens créer leurs prototypes de produits
              de manière magnifique et efficace.
            </p>
          </template>
          <template #datetime>
            <a-tooltip :title="dayjs().format('YYYY-MM-DD HH:mm:ss')">
              <span>{{ dayjs().fromNow() }}</span>
            </a-tooltip>
          </template>
        </a-comment>
      </a-modal>
    </div>

    <!-- Import Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Import dayjs -->
    <script src="https://unpkg.com/dayjs/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/relativeTime.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/customParseFormat.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekday.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/localeData.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekOfYear.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/weekYear.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/advancedFormat.js"></script>
    <script src="https://unpkg.com/dayjs/plugin/quarterOfYear.js"></script>
    <!-- Import Ant Design Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@4.2.1/dist/antd.min.js"></script>
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>

    <script type="module">
      const { createApp, ref, reactive, computed } = Vue;
      import { minidenticonSvg } from "https://cdn.jsdelivr.net/npm/minidenticons@4.2.1/minidenticons.min.js";
      import {
        AccountBookFilled,
        LikeFilled,
      } from "https://cdn.jsdelivr.net/npm/@ant-design/icons-vue@7.0.1/+esm";

      const { liveQuery } = Dexie;

      dayjs.extend(dayjs_plugin_relativeTime);

      var db = new Dexie("StudyDatabase");

      db.version(1).stores({
        channels: "++id, label",
        messages: "++id, senderId, channelId, like, dislike",
      });

      db.channels
        .bulkPut([
          { id: 1, label: "General", description: "Le Canal étudiant pour échanger sur la vie universitaire, les cours et les événements." },
          { id: 2, label: "PWA", description: "Canal PWA : discussions sur le développement et les meilleures pratiques des Progressive Web Apps." },
          { id: 3, label: "MVC", description: "Canal MVC : Échanges sur l'architecture Model-View-Controller, conseils, et meilleures pratiques." },
        ])
        .then(() => {
          return db.channels.toArray();
        })
        .then((channels) => {
          console.log(channels);
        })
        .catch((err) => {
          console.log(err);
        });

      const app = createApp({
        setup() {
          const userId = ref(localStorage.getItem("userId"));
          
          const show = ref(false);
          const channels = ref([]);

          const likes = ref(0);
          const dislikes = ref(0);
          const action = ref();

          const channelsObservable = liveQuery(() => db.channels.toArray());
          const channelsSubscription = channelsObservable.subscribe({
            next: (result) => (channels.value = result),
            error: (error) => console.error(error),
          });

          const showChannel = () => {
            show.value = true;
          };
          const hideChannel = (e) => {
            show.value = false;
          };

          const like = () => {
            likes.value = 1;
            dislikes.value = 0;
            action.value = "liked";
          };
          const dislike = () => {
            likes.value = 0;
            dislikes.value = 1;
            action.value = "disliked";
          };

          const userForm = reactive({
            pseudo: "",
          });

          const onSaveUser = ({pseudo}) => {
            console.log(pseudo);
            const uuid = crypto.randomUUID();
            localStorage.setItem('userId', uuid)
            localStorage.setItem('pseudo', pseudo)
            userId.value = uuid
          };

          const userFormDisabled = computed(() => {
            return !userForm.pseudo;
          });

          const userNotExist = computed(() => {
            return userId.value === null || userId.value === "";
          });
           
          return {
            show,
            channels,
            likes,
            dislikes,
            userId,
            userNotExist,
            userForm,
            userFormDisabled,
            showChannel,
            hideChannel,
            like,
            dislike,
            onSaveUser,
            dayjs,
          };
        },
        components: {
          AccountBookFilled,
          LikeFilled,
        },
      });
      app.use(antd);
      app.mount("#app");
    </script>
  </body>
</html>
